/* Parallax video for Cover block */

.wp-block-cover.has-parallax-video,
.wp-block-cover.is-style-has-parallax-video {
    overflow: hidden !important;
    position: relative;
}

.wp-block-cover.has-parallax-video > .wp-block-cover__inner-container,
.wp-block-cover.is-style-has-parallax-video > .wp-block-cover__inner-container {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.wp-block-cover.has-parallax-video .wp-block-cover__video-background,
.wp-block-cover.is-style-has-parallax-video .wp-block-cover__video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 130%;
    min-width: 100%;
    min-height: 130%;
    object-fit: cover;
    transform: translate(-50%, -50%) translateZ(0);
    will-change: transform;
    pointer-events: none;
}

.wp-block-cover.has-parallax-video .wp-block-cover__video-background video,
.wp-block-cover.is-style-has-parallax-video .wp-block-cover__video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

